!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PixeLInc - Discord | Guilds
    :css
      html, body {
        background: black;
          color: white;
      }

      #guild {
        padding: 0;
        margin-bottom: 10px;

        font-size: 20px;
      }
  %body
    %center
      %h1 Your Guilds
      %h5
        Note: It will only show the servers you have the
        %font{color: 'red'} ADMINISTRATOR or MANAGE_SERVER
        permission in.

      - @guilds.each do |guild|
        = "<div id='guild'> #{guild['name']} | <a href='/user/guilds/#{guild['id']}'> <font color='aqua'> #{guild['id']} </font> </a> </div>"
