!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PixeLInc - Discord | Unauthorized
    :css
      html, body {
          background: black;
          color: red;
      }
  %body
    %center
      %h1
        %small *cops in the distance*
        YOU ARE NOT AUTHORIZED FOR THIS AREA!
        %small *wee woo wee woo*
      %br/
      %a{:href => "/discord.html"} Go Back
