<html>
    <head>
        <title> PixeLInc - Discord | Unauthorized </title>
        <style>
            html, body {
                background: black;
                color: red;
            }
        </style>
    </head>
    <body>
        <center>
            <h1> <small>*cops in the distance*</small> YOU ARE NOT AUTHORIZED FOR THIS AREA! <small>*wee woo wee woo*</small> </h1>
            <%
                if !registered?
            %>
                <h4> <font color='limegreen'> Want to register at least? Go <a href='/discord.html'>here</a>
            <% end %>

            <br>
            <a href='/discord.html'>Go Back</a>
        </center>
    </body>
</html>