<html>
<head>
    <title> PixeLInc - Discord | Profile </title>
    <style>
        html, body {
            background: black;
            color: white;
        }
    </style>
</head>

<body>
    <center>

        <h1> Your Profile Stuff </h1>
        
        <% @user_info.each do |key, val| %> 
             <%= "#{key}: <font color='aqua'> #{val} </font>" %> <br>
        <% end %>

    </center>
</body>
</html>